.mainContainer {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 1000px;
	border: 1px solid #dce4dd;
	border-radius: 5px;
	padding: 20px;
}

.productoContainer {
	display: flex;
	width: 350px;
	margin-left: 50px;
	justify-content: space-around;
	text-decoration: none;
	align-items: center;
	color: black;
}

.itemsContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	border-bottom: 1px solid #dce4dd;
}

.delButton {
	display: flex;
	background-color: white;
	border: 0px;
	align-items: center;
	padding: 1px 11px;
	color: #656665;
	font-weight: bold;
}

.delButton:hover {
	transform: scale(1.2);
	color: #23864e;
	background-color: transparent;
	font-weight: 500;
}

.totalContainer {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #dce4dd;
	margin: 0px 0px 0px 10px;
	padding-bottom: 15px;
}

.totalContainer div h3 {
	border-bottom: 1px solid #dce4dd;
	padding-bottom: 10px;
}

.total {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.priceContainer {
	margin: 0px;
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	color: #2ba35f;
}

.priceContainer span {
	font-size: 13px;
	color: #aab5af;
}

.clearButton {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #dce4dd;
	font-size: 14px;
	height: 30px;
	font-weight: bold;
	color: #656665;
	width: 200px;
	align-self: center;
	margin-top: 10px;
}

.clearButton:hover {
	background-color: #23864e;
	transform: scale(1.05);
	color: rgb(255, 250, 244);
}
