.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container input {
    display: flex;
    border: 1px solid #DCE4DD;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    justify-content: space-around;
    padding: 5px 15px;
}

.buyButton {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DCE4DD;
    font-size: 14px;
    height: 30px;
    font-weight: bold;
    color: #656665;
    width: 200px;
    align-self: center;
    margin-top: 10px;
}

.buyButton:hover {
    background-color: #23864e;
    transform: scale(1.05);
    color: rgb(255, 250, 244);
}