.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #145A32;
    padding: 10px;
    color: antiquewhite;
}

.navUl {
    list-style: none;
    display: flex;
}

.navTitle {
    padding: 15px;
}

.navUlLi {
    margin: 0px 10px;
    font-size:small;
    font-weight: bold;
}

.navUlLi a{
    color: antiquewhite;
    text-decoration: none;
}

.cartWidget {
    color: antiquewhite;
    padding: 10px;
    margin-right: 10px;
}