.container {
	margin-top: 200px;
	background-color: aliceblue;
	padding: 50px;
}

.susContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-bottom: 1px solid #aab5af;
	padding: 16px;
	justify-content: center;
	align-items: center;
}
@media (min-width: 1177px) {
	.susContainer {
		flex-direction: row;
		justify-content: space-evenly;
		padding-bottom: 24px;
	}
}
/*
.susContainer span {
	flex-grow: 1;
} */

.susContainer span h2 {
	font-size: 30px;
	margin-bottom: 10px;
}

.susContainer span h5 {
	font-size: 17px;
	max-width: 400px;
	font-weight: lighter;
	margin: 0px;
	color: #858886;
}

.inputContainer {
	display: flex;
	gap: 4px;
	width: fit-content;
	border: 1px solid #aab5af;
	border-radius: 5px;
	background-color: white;
	/* flex-grow: 1; */
}

.emailButton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #23864e;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	padding: 10px 20px 10px 20px;
	margin: 0px 10px;
	font-weight: bold;
	color: #dce4dd;
	flex-grow: 2;
	margin: 0px;
}

.emailButton:hover {
	transform: scale(1.02);
	color: rgb(255, 250, 244);
}

.emailInput {
	justify-content: space-around;
	border-radius: 5px;
	border: none;
	margin: 0px 10px;
	width: 200px;
	flex-grow: 4;
}

.info {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
	color: #858886;
	margin-top: 50px;
	padding-left: none;
}
